extends layout

block content
  h1 Edit your reminder:
  form(name="reminder", action="/reminders/update", method="post", class="mainWrap")
    input(type="text" value=theReminder.sender class="name")
    input(type="text", name="number", value=theReminder.to_number, class="number")
    textarea(name="reminder", class="mainArea")= theReminder.content

    br
    br

    input(type="date" class="date" name="date" value=theReminder.date)
    input(type="time" class="time" name="time" value=theReminder.time)

    br
    br

    input(type="submit", value="Update Reminder", class="button")
    input(type="text", name="id", value=theID, hidden="hidden")
